<!DOCTYPE html>
<html>
<head>
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
         {{>header}}
        <h2>This is Tutorial about Express on Udemy..!! </h2>
        <img class="protrait" src="/img/robot.png">
        <h3>Created by {{Creater}} Containing Information about {{About}} </h3>
    </div>
     {{>footer}}
</body>
</html>